@font-face {
	font-family: 'Bebas Neue';
	font-weight: normal;
	src: url('fonts/BebasNeue-Regular.otf') format('otf');
}

@font-face {
	font-family: 'Bebas Neue';
	font-weight: bold;
	src: url('fonts/BebasNeue-Bold.otf') format('otf');
}

@font-face {
	font-family: 'Munro';
	src: url('../../fonts/munro.ttf') format('truetype');
}



body {
	margin: 0;
	position: relative;
	font-family: 'Munro';
	-webkit-font-smoothing: none;

}

html, body {
	height: 100%;
}

#Application {
	position:relative;
    min-height:100%;	
}

button {
	display: block;
	-webkit-appearance: none;
	border: none;
	background: transparent;
	font-family: inherit;
	-webkit-font-smoothing: none;
	-webkit-user-select: none;
}